<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Створити організацію</title>
</head>
<body>
<div>
    <form name="create-department" th:action="@{/enterprises/{id}/departments(id=${enterpriseId})}" method="post" th:object="${department}">
        <label for="name">Назва відділу</label>
        <input type="text" name="name" id="name" th:field="*{name}">
        <button type="submit">Створити</button>
    </form>
</div>
</body>
</html>