<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/home.css}"/>
    <title>Home</title>
</head>
<body>
<div class="container">
    <h2>Підприємства та відділи</h2>
    <ol class="myUL">
        <li th:each="enterprise : ${enterprises}">
            <a th:href="@{/units/enterprises/__${enterprise.id}__/output}" th:text="${enterprise.name}">Enterprise
                name</a>
            <ul>
                <li th:each="department : ${enterprise.departments}"><a
                        th:href="@{/units/enterprises/{enterpriseId}/departments/{departmentId}/output(enterpriseId=${enterprise.id}, departmentId=${department.id})}"
                        th:text="${department.name}">Department name</a><a
                        th:href="@{/units/enterprises/{enterpriseId}/departments/{departmentId}/parameters(enterpriseId=${enterprise.id}, departmentId=${department.id})}"><img
                        class="setting-img" th:src="@{/images/settings.png}"/></a><a
                        th:href="@{/units/enterprises/{enterpriseId}/departments/{departmentId}/working-days(enterpriseId=${enterprise.id}, departmentId=${department.id})}"><img
                        class="calendar-img" th:src="@{/images/calendar.png}"/></a></li>
                <li class="hide-bullet"><a th:href="@{/units/enterprises/{id}/departments(id=${enterprise.id})}"
                                           class="button">Додати відділ</a></li>
            </ul>
        </li>
        <li class="hide-bullet"><a href="/units/enterprises" class="button">Додати підприємство</a></li>
    </ol>
</div>
</body>
</html>