<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                const departmentId = /*[[${departmentId}]]*/ '0'
                window.location = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/input?parameter-name=' + parameterName
            })
        })
        /*]]>*/
    </script>
</head>
<body>
<style>

    table {
        border: 1px solid black;
        table-layout: fixed;
        max-width: 1200px;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
    }
</style>
<form name="input"
      th:action="@{/units/enterprises/{enterpriseId}/departments/{departmentId}/input?(enterpriseId=${enterpriseId}, departmentId=${departmentId})}"
      method="post" th:object="${tableData}">
    <div>
        <label for="parameter-name">Показник</label>
        <select id="parameter-name" th:field="*{parameterName}">
            <option th:if="${tableData.parameterName == 'nothing'}" value="nothing" disabled selected>Оберіть показник
            </option>
            <th:block th:each="parameter : ${departmentParameters}">
                <option th:if="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                        th:text="${parameter.name}" selected="selected"></option>
                <option th:unless="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                        th:text="${parameter.name}"></option>
            </th:block>
        </select>
    </div>
    <table>
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
        </tr>
        <tr th:each="row, itemStat : *{yearValues}">
            <th><input th:field="*{yearValues[__${itemStat.index}__].year}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].january}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].february}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].march}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].april}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].may}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].june}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].july}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].august}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].september}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].october}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].november}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].december}"></th>
        </tr>
    </table>
    <button type="submit">Зберегти</button>
</form>
</body>
</html>