<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>
</head>
<body>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<form name="input"
      th:action="@{/units/enterprises/{enterpriseId}/departments/{departmentId}/input(enterpriseId=${enterpriseId}, departmentId=${departmentId})}"
      method="post" th:object="${tableData}">
    <table>
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
        </tr>
        <tr th:each="row, itemStat : *{yearValues}">
            <th><input th:field="*{yearValues[__${itemStat.index}__].year}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].january}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].february}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].march}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].april}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].may}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].june}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].july}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].august}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].september}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].october}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].november}"></th>
            <th><input th:field="*{yearValues[__${itemStat.index}__].december}"></th>
        </tr>
    </table>
    <button type="submit">Зберегти</button>
</form>
</body>
</html>