<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                const departmentId = /*[[${departmentId}]]*/ '0'
                window.location = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/output?parameter-name=' + parameterName
            })
        })
        /*]]>*/
    </script>
</head>
<body>
<style>

    table {
        border: 1px solid black;
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
    }
</style>
<div>
    <label for="parameter-name">Показник</label>
    <select id="parameter-name">
        <option th:if="${tableData.parameterName == 'nothing'}" value="nothing" disabled selected>Оберіть показник
        </option>
        <th:block th:each="parameter : ${departmentParameters}">
            <option th:if="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}" selected="selected"></option>
            <option th:unless="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}"></option>
        </th:block>
    </select>
</div>
<table id="data-table">
    <tbody id="table-body">
    <tr>
        <th></th>
        <th>Січень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Лютий</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Березень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Квітень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Травень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Червень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Липень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Серпень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Вересень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Жовтень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Листопад</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Грудень</th>
        <th>Робочі дні</th>
        <th>Середньодобове</th>
        <th>Середнє за рік</th>
        <th>Мінімальне значення</th>
        <th>Місяць</th>
        <th>Максимальне значення</th>
        <th>Місяць</th>
        <th>Коефіцієнт нерівності</th>
    </tr>
    <tr th:each="row : ${tableData.yearInfos}">
        <td th:text="${row.year}"></td>
        <td th:text="${row.months.get('january').valueToStr()}"></td>
        <td th:text="${row.months.get('january').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('january').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('february').valueToStr()}"></td>
        <td th:text="${row.months.get('february').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('february').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('march').valueToStr()}"></td>
        <td th:text="${row.months.get('march').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('march').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('april').valueToStr()}"></td>
        <td th:text="${row.months.get('april').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('april').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('may').valueToStr()}"></td>
        <td th:text="${row.months.get('may').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('may').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('june').valueToStr()}"></td>
        <td th:text="${row.months.get('june').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('june').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('july').valueToStr()}"></td>
        <td th:text="${row.months.get('july').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('july').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('august').valueToStr()}"></td>
        <td th:text="${row.months.get('august').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('august').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('september').valueToStr()}"></td>
        <td th:text="${row.months.get('september').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('september').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('october').valueToStr()}"></td>
        <td th:text="${row.months.get('october').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('october').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('november').valueToStr()}"></td>
        <td th:text="${row.months.get('november').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('november').dailyAverageToString()}"></td>
        <td th:text="${row.months.get('december').valueToStr()}"></td>
        <td th:text="${row.months.get('december').workingDaysToStr()}"></td>
        <td th:text="${row.months.get('december').dailyAverageToString()}"></td>
        <td th:text="${row.calcYearAverage()}"></td>
        <td th:text="${row.getMinValue()}"></td>
        <td th:text="${row.getMinMonth()}"></td>
        <td th:text="${row.getMaxValue()}"></td>
        <td th:text="${row.getMaxMonth()}"></td>
        <td th:text="${row.calcInequalityCoefficient()}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/units/enterprises/__${enterpriseId}__/year}">Загальна за роками</a>
</body>
</html>