<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Налаштування показників</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<form name="parameters"
      th:action="@{/sections/enterprises/{enterpriseId}/departments/{departmentId}/parameters(enterpriseId=${enterpriseId}, departmentId=${departmentId})}"
      method="post" th:object="${parameters}">
    <h2 th:text="${department.name}">Department name</h2>
    <fieldset data-role="controlgroup">
        <legend>Показники:</legend>
        <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a" th:field="*{volumesElectricityConsumption}">
        <label for="checkbox-v-2a">Обсяги споживання електроенергії (кВт·год)</label>
        <input type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b" th:field="*{volumesElectricityProduction}">
        <label for="checkbox-v-2b">Обсяги виробництва електроенергії (кВт·год)</label>

        <input type="checkbox" name="checkbox-v-2c" id="checkbox-v-2c" th:field="*{volumesThermalEnergyProductionSale}">
        <label for="checkbox-v-2c">Обсяги виробництва теплової енергії на продаж (Гкал)</label>

        <input type="checkbox" name="checkbox-v-2d" id="checkbox-v-2d" th:field="*{volumesThermalEnergyConsumption}">
        <label for="checkbox-v-2d">Обсяги споживання теплової енергії (Гкал)</label>

        <input type="checkbox" name="checkbox-v-2e" id="checkbox-v-2e" th:field="*{volumesGasConsumption}">
        <label for="checkbox-v-2e">Обсяги споживання газу (тис. м3)</label>

        <input type="checkbox" name="checkbox-v-2f" id="checkbox-v-2f" th:field="*{volumesWaterConsumption}">
        <label for="checkbox-v-2f">Обсяги споживання води (тис. м3)</label>

        <input type="checkbox" name="checkbox-v-2g" id="checkbox-v-2g" th:field="*{volumesCoalConsumption}">
        <label for="checkbox-v-2g">Обсяги споживання вугілля (тон)</label>

        <input type="checkbox" name="checkbox-v-2h" id="checkbox-v-2h" th:field="*{fuelOilConsumptionVolumes}">
        <label for="checkbox-v-2h">Обсяги споживання мазуту (тон)</label>

        <input type="checkbox" name="checkbox-v-2i" id="checkbox-v-2i" th:field="*{volumesDieselFuelConsumption}">
        <label for="checkbox-v-2i">Обсяги споживання дизельного палива (тон)</label>

        <input type="checkbox" name="checkbox-v-2j" id="checkbox-v-2j" th:field="*{volumesGasolineConsumption}">
        <label for="checkbox-v-2j">Обсяги споживання бензину (тон)</label>

        <input type="checkbox" name="checkbox-v-2k" id="checkbox-v-2k" th:field="*{volumesConsumptionLubricants}">
        <label for="checkbox-v-2k">Обсяги споживання мастильних матеріалів (тон)</label>

        <input type="checkbox" name="checkbox-v-2l" id="checkbox-v-2l" th:field="*{drainageVolumes}">
        <label for="checkbox-v-2l">Обсяги водовідведення (тис. м3)</label>

        <input type="checkbox" name="checkbox-v-2m" id="checkbox-v-2m" th:field="*{volumesSolidHouseholdWaste}">
        <label for="checkbox-v-2m">Обсяги твердих побутових відходів (тис. м3 / тон)</label>

        <input type="checkbox" name="checkbox-v-2n" id="checkbox-v-2n" th:field="*{ambientTemperature}">
        <label for="checkbox-v-2n">Температура довкілля (0С)</label>
        <input type="checkbox" name="checkbox-v-2o" id="checkbox-v-2o" th:field="*{volumesProductionProductsAndServices}">
        <label for="checkbox-v-2o">Обсяги виробництва продукції та послуг (грн. з ПДВ)</label>
        <input type="checkbox" name="checkbox-v-2p" id="checkbox-v-2p" th:field="*{COEmissions}">
        <label for="checkbox-v-2p">Викиди СО</label>
    </fieldset>
    <button type="submit" class="ui-btn ui-corner-all">Збергети</button>
</form>
<a class="ui-btn ui-shadow" href="/sections">На головну</a>
</body>
</html>