<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тариф</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                window.location = '/tariffs?name=' + parameterName
            })
        })

        /*]]>*/
    </script>
</head>
<body>
<th:block th:if="${param.get('name') == null}">
    <form name="update-tariff" th:action="@{/tariffs}" method="post" th:object="${parameterWithTariff}">
        <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
                <label for="parameter-name" class="select">Ресурс</label>
                <select name="parameter-name" id="parameter-name">
                    <option th:if="${parameterWithTariff.tariff == null}" value="nothing" disabled selected>Оберіть
                        показник
                    </option>
                    <th:block th:each="tempParameter : ${parametersWithTariff}">
                        <option th:if="${parameterWithTariff.parameter != null and parameterWithTariff.parameter.beanName == tempParameter.parameter.beanName}"
                                th:value="${tempParameter.parameter.beanName}"
                                th:text="${tempParameter.parameter.name}" selected="selected"></option>
                        <option th:unless="${parameterWithTariff.parameter != null and parameterWithTariff.parameter.beanName == tempParameter.parameter.beanName}"
                                th:value="${tempParameter.parameter.beanName}"
                                th:text="${tempParameter.parameter.name}"></option>
                    </th:block>
                </select>
            </li>
            <li class="ui-field-contain">
                <label for="price">Ціна</label>
                <input type="text" name="price" id="price" th:field="*{tariff.price}">
            </li>
            <li class="ui-body ui-body-b">
                <button type="submit" class="ui-btn ui-corner-all">Збергети</button>
            </li>
        </ul>
    </form>
</th:block>


<th:block th:unless="${param.get('name') == null}">
    <form name="update-tariff" th:action="@{/tariffs(name=${param.get('name')})}" method="post" th:object="${parameterWithTariff}">
        <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
                <label for="parameter-name" class="select">Ресурс</label>
                <select name="parameter-name" id="parameter-name">
                    <option th:if="${parameterWithTariff.tariff == null}" value="nothing" disabled selected>Оберіть
                        показник
                    </option>
                    <th:block th:each="tempParameter : ${parametersWithTariff}">
                        <option th:if="${parameterWithTariff.parameter != null and parameterWithTariff.parameter.beanName == tempParameter.parameter.beanName}"
                                th:value="${tempParameter.parameter.beanName}"
                                th:text="${tempParameter.parameter.name}" selected="selected"></option>
                        <option th:unless="${parameterWithTariff.parameter != null and parameterWithTariff.parameter.beanName == tempParameter.parameter.beanName}"
                                th:value="${tempParameter.parameter.beanName}"
                                th:text="${tempParameter.parameter.name}"></option>
                    </th:block>
                </select>
            </li>
            <li class="ui-field-contain">
                <label for="price">Ціна</label>
                <input type="text" name="price" id="price" th:field="*{tariff.price}">
            </li>
            <li class="ui-body ui-body-b">
                <button type="submit" class="ui-btn ui-corner-all">Збергети</button>
            </li>
        </ul>
    </form>
</th:block>
<a class="ui-btn ui-shadow" href="/sections">На головну</a>
</body>
</html>