<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                window.location = '/units/enterprises/' + enterpriseId + '/output?parameter-name=' + parameterName
            })
        })

        /*]]>*/
    </script>
</head>
<body>
<style>

    table {
        border: 1px solid black;
        table-layout: fixed;
    }

    th, td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
    }

    .button {
        font-size: 12px;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
</style>
<div>
    <label for="parameter-name">Показник</label>
    <select id="parameter-name">
        <option th:if="${consumptionTableData.parameterName == 'nothing'}" value="nothing" disabled selected>Оберіть показник
        </option>
        <th:block th:each="parameter : ${departmentParameters}">
            <option th:if="${consumptionTableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}" selected="selected"></option>
            <option th:unless="${consumptionTableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}"></option>
        </th:block>
    </select>
</div>
<div>
    <a class="button" th:href="@{/units/enterprises/__${enterpriseId}__/output/year}">Загальна за роками</a>
    <a class="button" href="/units">На головну</a>
</div>
<table th:if="${!consumptionTableData.yearsInfo.isEmpty()}" id="consumption-data-table">
    <tbody id="consumption-table-body">
    <tr>
        <th></th>
        <th>Січень</th>
        <th>Середньодобове</th>
        <th>Лютий</th>
        <th>Середньодобове</th>
        <th>Березень</th>
        <th>Середньодобове</th>
        <th>Квітень</th>
        <th>Середньодобове</th>
        <th>Травень</th>
        <th>Середньодобове</th>
        <th>Червень</th>
        <th>Середньодобове</th>
        <th>Липень</th>
        <th>Середньодобове</th>
        <th>Серпень</th>
        <th>Середньодобове</th>
        <th>Вересень</th>
        <th>Середньодобове</th>
        <th>Жовтень</th>
        <th>Середньодобове</th>
        <th>Листопад</th>
        <th>Середньодобове</th>
        <th>Грудень</th>
        <th>Середньодобове</th>
        <th>Середнє за рік</th>
        <th>Мінімальне значення</th>
        <th>Місяць</th>
        <th>Максимальне значення</th>
        <th>Місяць</th>
        <th>Коефіцієнт нерівності</th>
    </tr>
    <tr th:each="pr, stat : ${consumptionTableData.yearsInfo}">
        <td th:text="${pr.key}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 1)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 1)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 2)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 2)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 3)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 3)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 4)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 4)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 5)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 5)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 6)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 6)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 7)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 7)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 8)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 8)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 9)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 9)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 10)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 10)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 11)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 11)}"></td>
        <td th:text="${consumptionTableData.monthValue(pr.key, 12)}"></td>
        <td th:text="${consumptionTableData.monthAverage(pr.key, 12)}"></td>
        <td th:text="${consumptionTableData.yearAverage(pr.key)}"></td>
        <td th:text="${consumptionTableData.getMinValue(pr.key)}"></td>
        <td th:text="${consumptionTableData.getMinMonth(pr.key)}"></td>
        <td th:text="${consumptionTableData.getMaxValue(pr.key)}"></td>
        <td th:text="${consumptionTableData.getMaxMonth(pr.key)}"></td>
        <td th:text="${consumptionTableData.calcInequalityCoefficient(pr.key)}"></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<table th:if="${!costsTableData.yearsInfo.isEmpty()}" id="costs-data-table">
    <caption><h2>Витрати</h2></caption>
    <tbody id="costs-table-body">
    <tr>
        <th></th>
        <th>Січень</th>
        <th>Середньодобове</th>
        <th>Лютий</th>
        <th>Середньодобове</th>
        <th>Березень</th>
        <th>Середньодобове</th>
        <th>Квітень</th>
        <th>Середньодобове</th>
        <th>Травень</th>
        <th>Середньодобове</th>
        <th>Червень</th>
        <th>Середньодобове</th>
        <th>Липень</th>
        <th>Середньодобове</th>
        <th>Серпень</th>
        <th>Середньодобове</th>
        <th>Вересень</th>
        <th>Середньодобове</th>
        <th>Жовтень</th>
        <th>Середньодобове</th>
        <th>Листопад</th>
        <th>Середньодобове</th>
        <th>Грудень</th>
        <th>Середньодобове</th>
        <th>Середнє за рік</th>
        <th>Мінімальне значення</th>
        <th>Місяць</th>
        <th>Максимальне значення</th>
        <th>Місяць</th>
        <th>Коефіцієнт нерівності</th>
    </tr>
    <tr th:each="pr, stat : ${costsTableData.yearsInfo}">
        <td th:text="${pr.key}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 1)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 1)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 2)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 2)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 3)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 3)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 4)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 4)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 5)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 5)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 6)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 6)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 7)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 7)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 8)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 8)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 9)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 9)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 10)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 10)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 11)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 11)}"></td>
        <td th:text="${costsTableData.monthValue(pr.key, 12)}"></td>
        <td th:text="${costsTableData.monthAverage(pr.key, 12)}"></td>
        <td th:text="${costsTableData.yearAverage(pr.key)}"></td>
        <td th:text="${costsTableData.getMinValue(pr.key)}"></td>
        <td th:text="${costsTableData.getMinMonth(pr.key)}"></td>
        <td th:text="${costsTableData.getMaxValue(pr.key)}"></td>
        <td th:text="${costsTableData.getMaxMonth(pr.key)}"></td>
        <td th:text="${costsTableData.calcInequalityCoefficient(pr.key)}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>