<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        function showForYear() {
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const year = $('#year').val()
            window.location = '/units/enterprises/' + enterpriseId + '/output/year?value=' + year
        }
        /*]]>*/
    </script>
</head>
<body>
<style>
    table {
        border: 1px solid black;
        table-layout: fixed;
        max-width: 1200px;
        /*width: 100%;*/
    }

    th, td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
        /*width: 100%;*/
        word-wrap: break-word;
    }
</style>
<label for="year">Введіть рік</label>
<input type="text" id="year">
<button onclick="showForYear()">Відобразити дані</button>
<p th:if="${tableDataList == null}" th:text="${message}"></p>
<table th:unless="${tableDataList == null}" id="data-table">
    <tbody id="table-body">
    <tr>
        <th>Рік</th>
        <th>Показник</th>
        <th>Січень</th>
        <th>Лютий</th>
        <th>Березень</th>
        <th>Квітень</th>
        <th>Травень</th>
        <th>Червень</th>
        <th>Липень</th>
        <th>Серпень</th>
        <th>Вересень</th>
        <th>Жовтень</th>
        <th>Листопад</th>
        <th>Грудень</th>
        <th>Усього за рік</th>
    </tr>
    <tr>
        <th th:rowspan="${tableDataList.size() + 1}" th:text="${year}"></th>
    </tr>
    <th:block th:each="tableData : ${tableDataList}">
        <tr th:each="row : ${tableData.yearInfos}">
            <th th:text="${tableData.parameterName}"></th>
            <td th:text="${row.months.get(1).value}"></td>
            <td th:text="${row.months.get(2).value}"></td>
            <td th:text="${row.months.get(3).value}"></td>
            <td th:text="${row.months.get(4).value}"></td>
            <td th:text="${row.months.get(5).value}"></td>
            <td th:text="${row.months.get(6).value}"></td>
            <td th:text="${row.months.get(7).value}"></td>
            <td th:text="${row.months.get(8).value}"></td>
            <td th:text="${row.months.get(9).value}"></td>
            <td th:text="${row.months.get(10).value}"></td>
            <td th:text="${row.months.get(11).value}"></td>
            <td th:text="${row.months.get(12).value}"></td>
            <td th:text="${row.getTotalValue()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>