<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                window.location = '/sections/enterprises/' + enterpriseId + '/output?parameter-name=' + parameterName
            })
        })

        /*]]>*/
    </script>
</head>
<body>
<div class="ent-name">
    <h2 th:text="${enterpriseName}"></h2>
</div>
<div class="ui-field-contain">
    <select name="parameter-name" id="parameter-name">
        <th:block th:if="${consumptionTableData.parameterName == 'nothing'}">
            <option value="nothing" disabled selected>Оберіть показник</option>
        </th:block>
        <th:block th:each="parameter : ${departmentParameters}">
            <option th:if="${consumptionTableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}" selected="selected"></option>
            <option th:unless="${consumptionTableData.parameterName == parameter.beanName}"
                    th:value="${parameter.beanName}"
                    th:text="${parameter.name}"></option>
        </th:block>
    </select>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!consumptionTableData.yearsInfo.isEmpty()}" id="cons-data-table"
           data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${parameter.consName}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Середньодобове</th>
            <th>Лютий</th>
            <th>Середньодобове</th>
            <th>Березень</th>
            <th>Середньодобове</th>
            <th>Квітень</th>
            <th>Середньодобове</th>
            <th>Травень</th>
            <th>Середньодобове</th>
            <th>Червень</th>
            <th>Середньодобове</th>
            <th>Липень</th>
            <th>Середньодобове</th>
            <th>Серпень</th>
            <th>Середньодобове</th>
            <th>Вересень</th>
            <th>Середньодобове</th>
            <th>Жовтень</th>
            <th>Середньодобове</th>
            <th>Листопад</th>
            <th>Середньодобове</th>
            <th>Грудень</th>
            <th>Середньодобове</th>
        </tr>
        </thead>
        <tbody id="cons-table-body">
        <tr th:each="pr, stat : ${consumptionTableData.yearsInfo}">
            <td th:text="${pr.key}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 1)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 1)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 2)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 2)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 3)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 3)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 4)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 4)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 5)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 5)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 6)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 6)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 7)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 7)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 8)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 8)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 9)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 9)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 10)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 10)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 11)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 11)}"></td>
            <td th:text="${consumptionTableData.monthValue(pr.key, 12)}"></td>
            <td th:text="${consumptionTableData.monthAverage(pr.key, 12)}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!consumptionTableData.yearsInfo.isEmpty()}" id="cons-par-data-table"
           data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${'Показники еко-енергоефективності для `' + parameter.consName + '`'}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Середнє за рік</th>
            <th>Мінімальне значення</th>
            <th>Місяць</th>
            <th>Максимальне значення</th>
            <th>Місяць</th>
            <th>Коефіцієнт нерівності</th>
        </tr>
        </thead>
        <tbody id="consumption-par-table-body">
        <tr th:each="pr, stat : ${consumptionTableData.yearsInfo}">
            <td th:text="${pr.key}"></td>
            <td th:text="${consumptionTableData.yearAverage(pr.key)}"></td>
            <td th:text="${consumptionTableData.getMinValue(pr.key)}"></td>
            <td th:text="${consumptionTableData.getMinMonth(pr.key)}"></td>
            <td th:text="${consumptionTableData.getMaxValue(pr.key)}"></td>
            <td th:text="${consumptionTableData.getMaxMonth(pr.key)}"></td>
            <td th:text="${consumptionTableData.calcInequalityCoefficient(pr.key)}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!costsTableData.yearsInfo.isEmpty()}" id="costs-data-table"
           data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${parameter.costsName}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Середньодобове</th>
            <th>Лютий</th>
            <th>Середньодобове</th>
            <th>Березень</th>
            <th>Середньодобове</th>
            <th>Квітень</th>
            <th>Середньодобове</th>
            <th>Травень</th>
            <th>Середньодобове</th>
            <th>Червень</th>
            <th>Середньодобове</th>
            <th>Липень</th>
            <th>Середньодобове</th>
            <th>Серпень</th>
            <th>Середньодобове</th>
            <th>Вересень</th>
            <th>Середньодобове</th>
            <th>Жовтень</th>
            <th>Середньодобове</th>
            <th>Листопад</th>
            <th>Середньодобове</th>
            <th>Грудень</th>
            <th>Середньодобове</th>
        </tr>
        </thead>
        <tbody id="costs-table-body">
        <tr th:each="pr, stat : ${costsTableData.yearsInfo}">
            <td th:text="${pr.key}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 1)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 1)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 2)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 2)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 3)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 3)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 4)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 4)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 5)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 5)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 6)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 6)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 7)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 7)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 8)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 8)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 9)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 9)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 10)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 10)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 11)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 11)}"></td>
            <td th:text="${costsTableData.monthValue(pr.key, 12)}"></td>
            <td th:text="${costsTableData.monthAverage(pr.key, 12)}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!costsTableData.yearsInfo.isEmpty()}" id="costs-par-data-table"
           data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${'Показники еко-енергоефективності для `' + parameter.costsName + '`'}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Середнє за рік</th>
            <th>Мінімальне значення</th>
            <th>Місяць</th>
            <th>Максимальне значення</th>
            <th>Місяць</th>
            <th>Коефіцієнт нерівності</th>
        </tr>
        </thead>
        <tbody id="costs-par-table-body">
        <tr th:each="pr, stat : ${costsTableData.yearsInfo}">
            <td th:text="${pr.key}"></td>
            <td th:text="${costsTableData.yearAverage(pr.key)}"></td>
            <td th:text="${costsTableData.getMinValue(pr.key)}"></td>
            <td th:text="${costsTableData.getMinMonth(pr.key)}"></td>
            <td th:text="${costsTableData.getMaxValue(pr.key)}"></td>
            <td th:text="${costsTableData.getMaxMonth(pr.key)}"></td>
            <td th:text="${costsTableData.calcInequalityCoefficient(pr.key)}"></td>
        </tr>
        </tbody>
    </table>
</div>
<a class="ui-btn ui-shadow" th:href="@{/sections/enterprises/__${enterpriseId}__/output/year}" data-ajax="false">Загальна за роками</a>
<a class="ui-btn ui-shadow" href="/sections" data-ajax="false">На головну</a>
</body>
</html>