<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        function showForYear() {
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const year = $('#year').val()
            window.location = '/sections/enterprises/' + enterpriseId + '/output/year?value=' + year
        }
        /*]]>*/
    </script>
</head>
<body>
<ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
        <label for="year">Введіть рік</label>
        <input type="text" id="year">
    </li>
    <li class="ui-body ui-body-b">
        <button class="ui-btn ui-corner-all" onclick="showForYear()">Відобразити дані</button>
    </li>
</ul>
<p th:if="${tableDataList == null}" th:text="${message}"></p>
<div th:unless="${tableDataList == null}" style="width: 100%;  overflow: auto">
    <table data-role="table" id="data-table" data-mode="reflow" class="ui-responsive table-stroke">
        <caption><h2 th:text="${'Загальна таблиця для підприємства `' + enterpriseName + '` за ' + year + ' рік'}"></h2></caption>
        <thead>
        <tr>
            <th>Показник</th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
            <th>Усього за рік</th>
        </tr>
        </thead>
        <tbody id="table-data">
        <th:block th:each="tableData : ${tableDataList}">
            <tr th:each="row : ${tableData.yearInfos}">
                <th th:text="${tableData.parameterName}"></th>
                <td th:text="${row.months.get(1).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(2).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(3).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(4).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(5).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(6).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(7).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(8).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(9).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(10).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(11).valueToStrEnterprise()}"></td>
                <td th:text="${row.months.get(12).valueToStrEnterprise()}"></td>
                <td th:text="${row.getTotalValue()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<a class="ui-btn ui-shadow" th:href="@{/sections/enterprises/__${enterpriseId}__/output}" data-ajax="false">Вхідні дані</a>
<a class="ui-btn ui-shadow" href="/sections" data-ajax="false">На головну</a>
</body>
</html>