div.container {
    width: 100%;
    text-align: center;
}

ol.myUL {
    width: 500px;
    display: inline-block;
    text-align: left;
}

.button {
    font-size: 12px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

li {
    padding-bottom: 5px;
}

.hide-bullet {
    list-style-type: none;
}

/*.vl {*/
/*    display: flex;*/
/*    justify-content: left;*/
/*    border-left: 6px solid green;*/
/*    align-items: end;*/
/*    height: auto;*/
/*}*/

.setting-img {
    padding-left: 5px;
    width: 3%;
    height: auto;
}

.calendar-img {
    padding-left: 5px;
    width: 3%;
    height: auto;
}