<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заходи для відділу</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div th:if="${activities.isEmpty()}">
    <p th:text="${'Для відділу `' + departmentName + '` ще не були встановлені заходи.'}"></p>
</div>
<div th:unless="${activities.isEmpty()}">
    <div style="width: 100%;  overflow: auto">
        <table data-role="table" id="activities" data-mode="reflow"
               class="ui-responsive table-stroke">
            <caption>
                <h2 th:text="${'Таблиця заходів для відділу ' + departmentName}"></h2>
            </caption>
            <thead>
            <tr>
                <th>№ з/п</th>
                <th>Назва заходу</th>
                <th>Вид ресурсу</th>
                <th>Очікуваний ефект від впровадження</th>
                <th>Кошти на впровадження, грн</th>
                <th>Джерело фінансування</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity, stat : ${activities}">
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${activity.getName()}"></td>
                <td th:text="${activity.getParameter().getName()}"></td>
                <td th:text="${activity.getDescription()}"></td>
                <td th:text="${activity.getMoney()}"></td>
                <td th:text="${activity.getFinancialSource()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="ui-grid-b">
    <div class="ui-block-a">
        <a class="ui-btn ui-shadow"
           th:href="@{/sections/enterprises/__${enterpriseId}__/departments/__${departmentId}__/activities/create}"
           data-ajax="false">Додати захід</a>
    </div>
    <div class="ui-block-b">
        <a class="ui-btn ui-shadow"
           th:href="@{/sections/enterprises/__${enterpriseId}__/departments/__${departmentId}__/efficiency}"
           data-ajax="false">Ефективність</a>
    </div>
    <div class="ui-block-c">
        <a class="ui-btn ui-shadow" href="/sections" data-ajax="false">На головну</a>
    </div>
</div>
</body>
</html>