<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                const departmentId = /*[[${departmentId}]]*/ '0'
                window.location = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/input?parameter-name=' + parameterName
            })
        })

        function addRow() {
            const parameterName = $('#parameter-name').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0'
            const url = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/add-year?parameter-name=' + parameterName;

            const settings = {
                "url": "http://localhost:8080" + url,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
            };

            $.ajax(settings).done(function () {
                window.location.reload();
            });
        }

        function removeRow() {
            const parameterName = $('#parameter-name').val()
            const year = $('#year').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0'
            const url = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/remove-year?parameter-name=' + parameterName + '&year=' + year;

            const settings = {
                "url": "http://localhost:8080" + url,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
            };

            $.ajax(settings).done(function () {
                window.location.reload();
            });
        }

        function generate() {
            const min = 0;
            const max = 200;
            const decimals = 2;
            const table = document.getElementById("data-table");
            let year = 2013;
            for (let i = 1, row; row = table.rows[i]; i++) {
                row.cells[0].children[0].value = year;
                year = year + 1;
            }
            for (let i = 1, row; row = table.rows[i]; i++) {
                for (let j = 1, col; col = row.cells[j]; j++) {
                    col.children[0].value = getRandomFloat(min, max, decimals);
                }
            }
        }

        function getRandomFloat(min, max, decimals) {
            const str = (Math.random() * (max - min) + min).toFixed(decimals);
            return parseFloat(str);
        }

        function output() {
            const parameterName = $('#parameter-name').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0';
            if (parameterName == null) {
                window.location = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/output'
            } else {
                window.location = '/units/enterprises/' + enterpriseId + '/departments/' + departmentId + '/output?parameter-name=' + parameterName
            }
        }

        /*]]>*/
    </script>
</head>
<body>
<style>

    table {
        border: 1px solid black;
        table-layout: fixed;
        max-width: 1200px;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
    }

    .button {
        font-size: 12px;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
</style>
<form name="input"
      th:action="@{/units/enterprises/{enterpriseId}/departments/{departmentId}/input(enterpriseId=${enterpriseId}, departmentId=${departmentId})}"
      method="post" th:object="${tableData}">
    <div>
        <label for="parameter-name">Показник</label>
        <select id="parameter-name" th:field="*{parameterName}">
            <option th:if="${tableData.parameterName == 'nothing'}" value="nothing" disabled selected>Оберіть показник
            </option>
            <th:block th:each="parameter : ${departmentParameters}">
                <option th:if="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                        th:text="${parameter.name}" selected="selected"></option>
                <option th:unless="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                        th:text="${parameter.name}"></option>
            </th:block>
        </select>
    </div>
    <div>
        <input class="button" type="button" value="Відобразити дані" onclick="output()">
        <input class="button" type="button" value="Згенерувати дані" onclick="generate()">
        <input class="button" type="button" value="Додати рік" onclick="addRow()">
        <label for="year">Рік для видалення</label>
        <input type="text" id="year">
        <input class="button" type="button" value="Видалити рік" onclick="removeRow()">
        <a class="button" href="/units">На головну</a>
    </div>
    <table id="data-table">
        <tbody id="table-body">
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
        </tr>
        <tr th:each="row, itemStat : *{yearInfos}">
            <th><input th:field="*{yearInfos[__${itemStat.index}__].year}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].january}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].february}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].march}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].april}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].may}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].june}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].july}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].august}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].september}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].october}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].november}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].december}"></th>
        </tr>
        </tbody>
    </table>
    <button class="button" type="submit">Зберегти</button>
</form>
</body>
</html>