<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                const departmentId = /*[[${departmentId}]]*/ '0'
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/input?parameter-name=' + parameterName
            })
        })

        function generate() {
            const min = 2000;
            const max = 10000;
            const decimals = 2;
            const table = document.getElementById("data-table");
            let year = 2013;
            for (let i = 1, row; row = table.rows[i]; i++) {
                row.cells[0].children[0].children[0].value = year;
                year = year + 1;
            }
            for (let i = 1, row; row = table.rows[i]; i++) {
                for (let j = 1, col; col = row.cells[j]; j++) {
                    col.children[0].children[0].value = getRandomFloat(min, max, decimals);
                }
            }
        }

        function getRandomFloat(min, max, decimals) {
            const str = (Math.random() * (max - min) + min).toFixed(decimals);
            return parseFloat(str);
        }

        function output() {
            const parameterName = $('#parameter-name').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0';
            if (parameterName == null) {
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/output'
            } else {
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/output?parameter-name=' + parameterName
            }
        }

        function addRow() {
            const parameterName = $('#parameter-name').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0'
            const url = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/add-year?parameter-name=' + parameterName;

            const settings = {
                "url": "http://localhost:8080" + url,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
            };

            $.ajax(settings).done(function () {
                window.location.reload();
            });
        }

        function removeRow() {
            const parameterName = $('#parameter-name').val()
            const year = $('#year').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0'
            const url = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/remove-year?parameter-name=' + parameterName + '&year=' + year;

            const settings = {
                "url": "http://localhost:8080" + url,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
            };

            $.ajax(settings).done(function () {
                window.location.reload();
            });
        }

        /*]]>*/
    </script>
</head>
<body>
<style>

    table {
        border: 1px solid black;
        table-layout: fixed;
        max-width: 1200px;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
    }
</style>
<form name="input"
      th:action="@{/sections/enterprises/{enterpriseId}/departments/{departmentId}/input(enterpriseId=${enterpriseId}, departmentId=${departmentId})}"
      method="post" th:object="${tableData}">
    <div class="ui-field-contain">
        <select name="parameter-name" id="parameter-name" th:field="*{parameterName}">
            <option th:if="${tableData.parameterName == 'nothing'}" value="nothing" disabled selected>Оберіть показник
            </option>
            <th:block th:each="parameter : ${departmentParameters}">
                <option th:if="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                        th:text="${parameter.name}" selected="selected"></option>
                <option th:unless="${tableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                        th:text="${parameter.name}"></option>
            </th:block>
        </select>
    </div>
    <table id="data-table">
        <tbody id="table-body">
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
        </tr>
        <tr th:each="row, itemStat : *{yearInfos}">
            <th><input th:field="*{yearInfos[__${itemStat.index}__].year}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].january}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].february}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].march}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].april}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].may}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].june}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].july}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].august}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].september}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].october}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].november}"></th>
            <th><input th:field="*{yearInfos[__${itemStat.index}__].december}"></th>
        </tr>
        </tbody>
    </table>
    <input class="ui-btn ui-shadow" type="button" value="Додати рік" onclick="addRow()" data-ajax="false">
    <ul data-role="listview" data-inset="true">
        <li class="ui-field-contain">
            <label for="year">Рік для видалення</label>
            <input type="text" id="year">
        </li>
        <li class="ui-body ui-body-b">
            <button class="ui-btn ui-corner-all" onclick="removeRow()" data-ajax="false">Видалити рік</button>
        </li>
    </ul>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <input class="ui-btn ui-shadow" type="button" value="Згенерувати дані" onclick="generate()" data-ajax="false">
        </div>
        <div class="ui-block-b">
            <button class="ui-btn ui-shadow" type="submit" data-ajax="false">Зберегти</button>
        </div>
    </div>
</form>
<div class="ui-grid-a">
    <div class="ui-block-a">
        <input class="ui-btn ui-shadow" type="button" value="Відобразити дані" onclick="output()" data-ajax="false">
    </div>
    <div class="ui-block-b">
        <a class="ui-btn ui-shadow" href="/sections" data-ajax="false">На головну</a>
    </div>
</div>
</body>
</html>