<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Графік</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                const departmentId = /*[[${departmentId}]]*/ '0'
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/line-chart?parameter-name=' + parameterName
            })
        })

        $(function () {
            drawCharts();
        });

        function updateChart() {
            console.log('here');
            // $("#pieChart").replaceWith($("<canvas id=\"pieChart\"></canvas>"));
            drawCharts();
        }

        const consTitle = /*[[${consumptionTitle}]]*/ 'Споживання';
        const costsTitle = /*[[${costsTitle}]]*/ 'Витрати';

        /*]]>*/
    </script>
</head>
<body>
<style>

    table {
        border: 1px solid black;
        table-layout: fixed;
    }

    th {
        border: 1px solid black;
        overflow: hidden;
        max-width: 100px;
    }

    .costs-th {
        max-width: 50px;
    }

    td {
        border: 1px solid black;
        overflow: hidden;
        max-width: 300px;
    }

    input {
        max-width: 105px;
    }

    canvas#monthChart {
        width: 1845px !important;
        height: 650px !important;
    }

    canvas#yearChart {
        width: 1275px !important;
        height: 650px !important;
        padding-top: 10px;
    }

    .empty-col {
        border: none;
        width: 140px;
    }
</style>
<div data-role="header">
    <h1 th:text="${'Графік витрат для відділу `' + departmentName + '`'}"></h1>
</div>
<div>
    <select id="parameter-name">
        <option th:if="${consumptionTableData.parameterName == 'nothing'}" value="nothing" disabled selected>Оберіть
            показник
        </option>
        <th:block th:each="parameter : ${departmentParameters}">
            <option th:if="${consumptionTableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}" selected="selected"></option>
            <option th:unless="${consumptionTableData.parameterName == parameter.beanName}"
                    th:value="${parameter.beanName}"
                    th:text="${parameter.name}"></option>
        </th:block>
    </select>
</div>
<div>
    <canvas id="monthChart"></canvas>
</div>
<div>
    <table th:if="${!consumptionTableData.yearInfos.isEmpty()}" id="consumption-data-table">
        <tbody id="consumption-table-body">
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
            <td class="empty-col"></td>
            <th>Середнє за рік</th>
        </tr>
        <tr th:each="row : ${consumptionTableData.yearInfos}">
            <th th:text="${row.year}"></th>
            <td><input th:value="${row.months.get(1).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(2).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(3).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(4).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(5).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(6).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(7).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(8).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(9).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(10).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(11).dailyAverageToString()}"></td>
            <td><input th:value="${row.months.get(12).dailyAverageToString()}"></td>
            <td class="empty-col"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<button th:if="${!consumptionTableData.yearInfos.isEmpty()}" class="ui-btn ui-shadow" onclick="updateChart()">Оновити графік</button>
<div th:if="${!consumptionTableData.yearInfos.isEmpty()}">
    <form name="input"
          th:action="@{/comments/consumption(enterpriseId=${enterpriseId}, departmentId=${departmentId}, parameterName=${consumptionTableData.parameterName})}"
          method="post" th:object="${consumptionComment}" data-ajax="false">
        <p><label for="review">Коментарій для графіку споживань:</label></p>
        <textarea id="review" name="review" rows="4" cols="50" th:field="*{text}"></textarea>
        <button class="ui-btn ui-shadow" id="save-btn" type="submit">Зберегти</button>
    </form>
</div>
<div>
    <canvas id="yearChart"></canvas>
</div>
<div>
    <table th:if="${!consumptionTableData.yearInfos.isEmpty()}" id="costs-data-table">
        <tbody id="costs-table-body">
        <tr>
            <th></th>
            <th:block th:each="row : ${costsTableData.yearInfos}">
                <th th:text="${row.year}"></th>
            </th:block>
        </tr>
        <tr>
            <th class="costs-th">Сума витрат за рік</th>
            <th:block th:each="row : ${costsTableData.yearInfos}">
                <td><input th:value="${row.yearAverage()}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
<button th:if="${!costsTableData.yearInfos.isEmpty()}" class="ui-btn ui-shadow" onclick="updateChart()">Оновити графік</button>
<div th:if="${!costsTableData.yearInfos.isEmpty()}">
    <form name="input"
          th:action="@{/comments/costs(enterpriseId=${enterpriseId}, departmentId=${departmentId}, parameterName=${consumptionTableData.parameterName})}"
          method="post" th:object="${costsComment}" data-ajax="false">
        <p><label for="review">Коментарій для графіку витрат:</label></p>
        <textarea id="review" name="review" rows="4" cols="50" th:field="*{text}"></textarea>
        <button class="ui-btn ui-shadow" id="save-btn" type="submit">Зберегти</button>
    </form>
</div>
<a class="ui-btn ui-shadow" href="/sections">На головну</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<script>
    var randomColorGenerator = function () {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function drawMonthChart() {
        let myDatasets = [];
        let myLabels = ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень", "", "Середнє за рік", ""];
        const table = document.getElementById("consumption-data-table");
        for (let i = 1, row; row = table.rows[i]; i++) {
            let tempData = [];
            let myLabel = "dummy";
            let yearSum = 0.0;
            let monthCount = 0;
            for (let j = 0, col; col = row.cells[j]; j++) {
                if (j === 0) {
                    myLabel = col.innerHTML;
                    // myLabels.push(myLabel);
                    continue;
                }
                if (j === row.cells.length - 2) {
                    continue;
                }
                if (j === row.cells.length - 1) {
                    const yearAver = yearSum / monthCount;
                    col.innerHTML = (Math.round((yearAver + Number.EPSILON) * 100) / 100).toString();
                    tempData.push(parseFloat(''));
                    tempData.push(yearAver);
                    tempData.push(yearAver);
                    continue;
                }
                let tempValue = col.children[0].children[0].value;
                if (tempValue === "") {
                    tempValue = 0;
                }
                const monthValue = parseFloat(col.children[0].children[0].value.replace(',', '.'));
                if (monthValue > 0) {
                    yearSum += monthValue;
                    monthCount++;
                }
                tempData.push(monthValue);
            }
            myDatasets.push({
                label: myLabel,
                data: tempData,
                borderColor: randomColorGenerator(),
                fill: false
            });
        }

        new Chart("monthChart", {
            type: "line",
            data: {
                labels: myLabels,
                datasets: myDatasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: consTitle,
                    position: 'bottom',
                    font: {
                        size: 20
                    }
                },
                legend: {
                    display: true,
                    plugins: {
                        legend: {
                            display: true,
                            position: 'bottom',
                            align: 'center',
                            labels: {
                                color: 'darkred',
                                font: {
                                    weight: 'bold'
                                },
                            }
                        }
                    }
                },
                elements: {
                    line: {
                        tension: 0
                    }
                },
                scales: {
                    xAxes: [{
                        offset: true
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function drawYearChart() {
        let myDatasets = [];
        let myLabels = [];
        const table = document.getElementById("costs-data-table");
        for (let i = 0, row; row = table.rows[i]; i++) {
            let tempData = [];
            let myLabel = "dummy";
            for (let j = 1, col; col = row.cells[j]; j++) {
                if (i === 0) {
                    myLabel = col.innerHTML;
                    myLabels.push(myLabel);
                    continue;
                }
                let tempValue = col.children[0].children[0].value;
                if (tempValue === "") {
                    tempValue = 0;
                }
                tempData.push(parseFloat(col.children[0].children[0].value.replace(',', '.')));
            }
            if (i > 0) {
                myDatasets.push({
                    label: "Year",
                    data: tempData,
                    borderColor: randomColorGenerator(),
                    fill: false
                });
            }
        }

        new Chart("yearChart", {
            type: "line",
            data: {
                labels: myLabels,
                datasets: myDatasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: costsTitle,
                    position: 'bottom',
                    font: {
                        size: 20
                    }
                },
                legend: {
                    display: false
                },
                elements: {
                    line: {
                        tension: 0
                    }
                },
                scales: {
                    xAxes: [{
                        offset: true
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function drawCharts() {
        drawMonthChart();
        drawYearChart();
    }
</script>
</body>
</html>