<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заповнення даних</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(() => {
            $('#parameter-name').change(() => {
                const parameterName = $('#parameter-name').val()
                const enterpriseId = /*[[${enterpriseId}]]*/ '0'
                const departmentId = /*[[${departmentId}]]*/ '0'
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/output?parameter-name=' + parameterName
            })
        })

        function input() {
            const parameterName = $('#parameter-name').val()
            const enterpriseId = /*[[${enterpriseId}]]*/ '0'
            const departmentId = /*[[${departmentId}]]*/ '0'
            if (parameterName == null) {
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/input'
            } else {
                window.location = '/sections/enterprises/' + enterpriseId + '/departments/' + departmentId + '/input?parameter-name=' + parameterName
            }
        }

        /*]]>*/
    </script>
</head>
<body>
<div class="dep-name">
    <h2 th:text="${departmentName}"></h2>
</div>
<div class="ui-field-contain">
    <select name="parameter-name" id="parameter-name">
        <th:block th:if="${consumptionTableData.parameterName == 'nothing'}">
            <option value="nothing" disabled selected>Оберіть показник</option>
        </th:block>
        <th:block th:each="parameter : ${departmentParameters}">
            <option th:if="${consumptionTableData.parameterName == parameter.beanName}" th:value="${parameter.beanName}"
                    th:text="${parameter.name}" selected="selected"></option>
            <option th:unless="${consumptionTableData.parameterName == parameter.beanName}"
                    th:value="${parameter.beanName}"
                    th:text="${parameter.name}"></option>
        </th:block>
    </select>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!consumptionTableData.yearInfos.isEmpty()}" id="cons-data-table"
           data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${parameter.consName}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Лютий</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Березень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Квітень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Травень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Червень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Липень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Серпень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Вересень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Жовтень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Листопад</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Грудень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
        </tr>
        </thead>
        <tbody id="cons-table-body">
        <tr th:each="row : ${consumptionTableData.yearInfos}">
            <th th:text="${row.year}"></th>
            <td th:text="${row.months.get(1).valueToStr()}"></td>
            <td th:text="${row.months.get(1).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(1).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(2).valueToStr()}"></td>
            <td th:text="${row.months.get(2).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(2).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(3).valueToStr()}"></td>
            <td th:text="${row.months.get(3).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(3).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(4).valueToStr()}"></td>
            <td th:text="${row.months.get(4).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(4).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(5).valueToStr()}"></td>
            <td th:text="${row.months.get(5).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(5).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(6).valueToStr()}"></td>
            <td th:text="${row.months.get(6).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(6).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(7).valueToStr()}"></td>
            <td th:text="${row.months.get(7).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(7).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(8).valueToStr()}"></td>
            <td th:text="${row.months.get(8).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(8).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(9).valueToStr()}"></td>
            <td th:text="${row.months.get(9).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(9).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(10).valueToStr()}"></td>
            <td th:text="${row.months.get(10).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(10).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(11).valueToStr()}"></td>
            <td th:text="${row.months.get(11).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(11).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(12).valueToStr()}"></td>
            <td th:text="${row.months.get(12).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(12).dailyAverageToString()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!consumptionTableData.yearInfos.isEmpty()}" id="cons-par-data-table"
           data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${'Показники еко-енергоефективності для `' + parameter.consName + '`'}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Середнє за рік</th>
            <th>Мінімальне значення</th>
            <th>Місяць</th>
            <th>Максимальне значення</th>
            <th>Місяць</th>
            <th>Коефіцієнт нерівності</th>
        </tr>
        </thead>
        <tbody id="consumption-par-table-body">
        <tr th:each="row : ${consumptionTableData.yearInfos}">
            <th th:text="${row.year}"></th>
            <td th:text="${row.yearAverage()}"></td>
            <td th:text="${row.getMinValue()}"></td>
            <td th:text="${row.getMinMonth()}"></td>
            <td th:text="${row.getMaxValue()}"></td>
            <td th:text="${row.getMaxMonth()}"></td>
            <td th:text="${row.calcInequalityCoefficient()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!costsTableData.yearInfos.isEmpty()}" id="costs-data-table" data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${parameter.costsName}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Січень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Лютий</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Березень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Квітень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Травень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Червень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Липень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Серпень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Вересень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Жовтень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Листопад</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
            <th>Грудень</th>
            <th>Робочі дні</th>
            <th>Середньодобове</th>
        </tr>
        </thead>
        <tbody id="costs-table-body">
        <tr th:each="row : ${costsTableData.yearInfos}">
            <th th:text="${row.year}"></th>
            <td th:text="${row.months.get(1).valueToStr()}"></td>
            <td th:text="${row.months.get(1).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(1).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(2).valueToStr()}"></td>
            <td th:text="${row.months.get(2).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(2).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(3).valueToStr()}"></td>
            <td th:text="${row.months.get(3).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(3).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(4).valueToStr()}"></td>
            <td th:text="${row.months.get(4).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(4).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(5).valueToStr()}"></td>
            <td th:text="${row.months.get(5).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(5).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(6).valueToStr()}"></td>
            <td th:text="${row.months.get(6).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(6).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(7).valueToStr()}"></td>
            <td th:text="${row.months.get(7).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(7).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(8).valueToStr()}"></td>
            <td th:text="${row.months.get(8).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(8).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(9).valueToStr()}"></td>
            <td th:text="${row.months.get(9).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(9).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(10).valueToStr()}"></td>
            <td th:text="${row.months.get(10).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(10).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(11).valueToStr()}"></td>
            <td th:text="${row.months.get(11).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(11).dailyAverageToString()}"></td>
            <td th:text="${row.months.get(12).valueToStr()}"></td>
            <td th:text="${row.months.get(12).workingDaysToStr()}"></td>
            <td th:text="${row.months.get(12).dailyAverageToString()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 100%;  overflow: auto">
    <table data-role="table" th:if="${!costsTableData.yearInfos.isEmpty()}" id="costs-par-data-table" data-mode="reflow"
           class="ui-responsive table-stroke">
        <caption><h2 th:text="${'Показники еко-енергоефективності для `' + parameter.costsName + '`'}"></h2></caption>
        <thead>
        <tr>
            <th></th>
            <th>Середнє за рік</th>
            <th>Мінімальне значення</th>
            <th>Місяць</th>
            <th>Максимальне значення</th>
            <th>Місяць</th>
            <th>Коефіцієнт нерівності</th>
        </tr>
        </thead>
        <tbody id="costs-par-table-body">
        <tr th:each="row : ${costsTableData.yearInfos}">
            <th th:text="${row.year}"></th>
            <td th:text="${row.yearAverage()}"></td>
            <td th:text="${row.getMinValue()}"></td>
            <td th:text="${row.getMinMonth()}"></td>
            <td th:text="${row.getMaxValue()}"></td>
            <td th:text="${row.getMaxMonth()}"></td>
            <td th:text="${row.calcInequalityCoefficient()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<input class="ui-btn ui-shadow" type="button" value="Редагувати" onclick="input()" data-ajax="false">
<a class="ui-btn ui-shadow" href="/sections" data-ajax="false">На головну</a>
</body>
</html>